<main>
  <div class="description">
    <div class="row">
      <div class="row description">
        <div class="col-sm-2">
          <img src="{{ artistInfo?.album.coverImage }}" />
        </div>
        <div class="col-sm-6">
          <p class="album-name">{{ artistInfo?.album.name }}</p>
          <p class="band-name">{{ artistInfo?.artist }}</p>
          <p class="album-release-date">{{ artistInfo?.album.releaseDate }}</p>
        </div>
      </div>
    </div>
    <!-- <div class="row">
    <div class="col-sm-8">
     
    </div>
  </div> -->
  </div>
</main>
